*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-b{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
 background-color:rgb(244, 147, 237);
  padding: 10px 14px;
  border-right: 1px solid #a1040419;
}

body{
  min-height: 100%;
}
.nav-b{
  display: flex;
  flex-direction: column;
}
.nav-b .logo-name label{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  
}

.nav-b .logo{
  font-size: 25px;
  font-weight: 600;
  
}
.nav-b.menu-items{
  
  margin-top: 20px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li{
  list-style: none;
  margin-bottom: 45px;
}
.menu-items li .link-text{
  text-decoration: none;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
  
}
.menu-items li .link-text-logout{
  text-decoration: none;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
}
.menu-items li .link-text-logout:hover{
  background-color:  rgb(243, 133, 141);
  border-radius: 10px;
  width: 20vh;
  height: 10vh;
  color: #fff;
  
}
.menu-items li .link-text:hover{
  background-color:  rgb(111, 95, 110);
  border-radius: 10px;
  width: 20vh;
  height: 10vh;
  color: #fff;
  
}
.menu-items li .link-text:hover::before{
  content:"";
  position: absolute;
  left: -7px;
  height: 15px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(244, 147, 237);
}


.menu-items li .link-name{
  font-size: 18px;
  font-weight: 500;
}


.menu-items .logout-mod{
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.153);
}
